<footer>
  <div class="container">
    <% if @current_user %>
      Logged in as: <%= @current_user.name %>
    <% end %>
    <br />
    David Watkins • Copyright &copy;<%= Time.new.year %> <%= yield :footer %>
  </div>
</footer>
<script src=<%= asset_path 'bootstrap.js' %>></script>